<html>
<head>

<script type="text/javascript">
function Menu(id)
{
var menu = document.getElementById('menu_'+ id).style;
if (menu.display == 'none')
{
menu.display = 'block';
}
else
{
menu.display = 'none';
}
}
</script>
</head>
<body>
<ul>
<li onclick="javascript:Menu('1')"><a href="#">Home</a></li>
</ul>

<ul>
<li onclick="javascript:Menu('2')"><a href="#">Products</a></li>
<ul id="menu_2" style="display:none;">
<li><a href="#">women</a></li>
<li><a href="#">men</a></li>
<li><a href="#">children</a></li>
</ul>
</ul>

<ul>
<li onclick="javascript:Menu('3')"><a href="#">Shopping</a></li>
</ul>
</body>
</html>
