<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN"
"http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
<meta http-equiv="Content-Type" content="text/html; charset=utf-8">
<title>Untitled Document</title>

<script>


var div1;
var leftPos = 300;
var rightPos = 0;
var topPos = 0;
var downPos = 0;

var a = function () {
  div1 = document.getElementsByTagName("div")[0];
  div1.style.left = leftPos + "px";
  leftPos = leftPos - 10;
 
}
</script>
</head>

<body>
<button id="top">Up</button>
<button id="right">Right</button>
<button id="down">Down</button>
<button id="left" onclick="a()">Left</button>
<div style="left: 300px; position: relative;">Text</div>
</body>
</html>
